<form action="/add_link" method="post">
  <input type="text" name="new_link" value="http://www.what44ever.com">
  <input type="submit" value="Save link">
</form>

<%= flash.now[:invalid_uri] %>

<ul>
  <% @links.each do |link| %>
  <li><%= link.url %></li>
  <% end %>
</ul>
