<form action="/add_link" method="post">
  <input type="text" name="new_link" size="30" value="http://www.what44ever.com">
  <input type="text" size="15" name="title" value="what4ever">
  <input type="submit" value="Save link">
</form>

<%= flash.now[:invalid_uri] %>

<ul>
  <% @links.each do |link| %>
  <li>
    <a href="<%= link.url %>">
      <%= link.title %>
    </a>
  </li>
  <% end %>
</ul>
